@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


:root {
    --gradient-body: linear-gradient(to top, rgba(84, 135, 196, 0.3), rgba(255, 255, 255, 0.5), rgba(56, 110, 175, 0.3));
    --text-family-merriweather: 'Merriweather', 'Lora', 'Times New Roman', Georgia, serif;
}


body {
    font-family: var(--text-family-merriweather);
}